.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 24px;
  border: 2px solid whitesmoke;

  min-width: 320px;
  background-color: #5b8fb9;
}

.title {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
